<h1>Ember-drop-zone</h1>

{{#drop-zone action=(action "dropItem")}}
  <p>Drop items here...</p>
  <ul>
    {{#each items as |item|}}
      <li>id: {{item.id}}, type: {{item.type}}</li>
    {{/each}}
  </ul>
{{/drop-zone}}

{{#draggable-item model=myModel}}
  <h3>Item</h3>
  <div>id: {{myModel.id}},</div>
  <div>type: {{myModel.constructor.modelName}}</div>
{{/draggable-item}}


{{#drop-zone action=(action "dropFile") getData=getFiles}}
  <p>Drop files here...</p>

  <ul>
    {{#each files as |file|}}
      <li>Filename: {{file.name}}</li>
    {{/each}}
  </ul>
{{/drop-zone}}
